GITHUB_TOKEN=github_pat_your_token_here
TURSO_DATABASE_URL=libsql://your-database-name.turso.io
TURSO_AUTH_TOKEN=your_turso_database_token
BETTER_AUTH_SECRET=generate_a_random_secret_with_at_least_32_characters
BETTER_AUTH_URL=http://localhost:3000
OAUTH_PROXY_SECRET=generate_another_random_secret_with_at_least_32_characters
GITHUB_CLIENT_ID=your_github_oauth_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_client_secret
CRON_SECRET=generate_a_random_secret_for_cron_requests
SMTP_USER=openissue.project@gmail.com
SMTP_APP_PASSWORD=your_google_app_password
DIGEST_FROM_EMAIL=OpenIssue.dev <openissue.project@gmail.com>
